<p id="notice"><%= notice %></p>

<h1>Listing Type Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_categories.each do |type_category| %>
      <tr>
        <td><%= type_category.name %></td>
        <td><%= link_to 'Show', type_category %></td>
        <td><%= link_to 'Edit', edit_type_category_path(type_category) %></td>
        <td><%= link_to 'Destroy', type_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type category', new_type_category_path %>
