  <table class="table table-striped">
    <thead>
      <tr>
        <th>Extra</th>
        <th>Por Día</th>
        <th>Máximo</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
        <%= f.fields_for :booking_rate_extras do |e| %>
          <tr>
            <%= e.hidden_field :id %>
            <%= e.hidden_field :booking_id %>
            <td><%= "#{e.object.rate_extra.agreement_zone_extra.extra.name} #{e.object.rate_extra.rate.is_offer ? ' - OFERTA ' : ''}" %></td>
            <td><%= e.object.rate_extra.cost %></td>
            <td><%= e.object.rate_extra.max_cost %></td>
            <td><%= e.number_field :quantity %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
