<%= form_for(@booking, builder: ThemeBuilder) do |f| %>
  <% if @booking.errors.any? %>
    <hr/>
    <div class="has-error">
      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><i class="input-helper"><%= message %></i></li>
      <% end %>
      </ul>
    </div>
    <hr/>
  <% end %>

    <%= f.text_field :zone_id, label: 'Zone'%>
    <%= f.datetime_select :delivery_date, label: 'Delivery date'%>
    <%= f.text_field :delivery_location, label: 'Delivery location'%>
    <%= f.number_field :days_number, label: 'Days number'%>
    <%= f.text_field :return_location, label: 'Return location'%>

    <%= f.collection_select :ttoo_id, Company.joins(:company_type).where("company_types.name = ?", "TTO").order(:name), :id, :name, {label: 'Tour Operador'} %>

    <%= f.collection_select :rac_id, Company.joins(:company_type).where("company_types.name = ?", "Rent A Car").order(:name), :id, :name, {label: 'Rent a Car'} %>


    <%= f.collection_select :agreement_zone_group_id, Agreement.first.groups.order(:group), :id, :group, {label: 'Grupo'} %>

    <%= f.text_field :booking_number, label: 'Booking number'%>
    <%= f.text_field :external_reference, label: 'External reference'%>
    <%= f.collection_select :place_type_id, PlaceType.order(:name), :id, :name, {label: 'Place type'} %>

    <%= f.text_field :place_name, label: 'Place name'%>
    <%= f.text_field :fly_room, label: 'Fly room'%>
    <%= f.collection_select :user_id, User.order(:name), :id, :name, {label: 'Guia'} %>

    <p class="c-black f-500 m-b-5 " >Cliente:</p>
    <%= render partial: 'customer_form', locals: {f: f} %>

    <%= f.submit 'Enviar'%>
<% end %>
