<%%= form_for(@<%= singular_table_name %>, builder: ThemeBuilder) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <hr/>
    <div class="has-error">
      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><i class="input-helper"><%%= message %></i></li>
      <%% end %>
      </ul>
    </div>
    <hr/>
  <%% end %>

<% attributes.each do |attribute| -%>
<% if attribute.password_digest? -%>
    <%%= f.password_field :password, label: 'Clave' %>
    <%%= f.password_field :password_confirmation, label: 'Confirmacion de Clave' %>
<% else -%>
    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, label: '<%= attribute.human_name %>'%>
<% end -%>
<% end -%>
    <%%= f.submit 'Enviar'%>
<%% end %>
