<% toolbar = Theme::Toolbar.new %>
<% toolbar.add_button 'Nuevo', new_agreement_path, 'plus' %>
<% toolbar.add_button 'Ver', agreement_path(@agreement), 'eye' %>
<% toolbar.add_button 'Lista', agreements_path, 'view-list-alt' %>
<% toolbar.add_button 'Eliminar', agreement_path(@agreement), 'delete' %>

<%= render '/layouts/block_header' %>

<%= card ['Acuerdos', 'Editar'], toolbar do %>

<%= render 'form' %>

<% end %>

<%= card ['Agregables', ''] do %>

  <p class="c-black f-500 m-b-5" id="group_sections">Tramos:</p>
  <%= render partial: 'group_section_list', locals: {agreement: @agreement, mode: :edit} %>

  <p class="c-black f-500 m-b-5" id="extras">Extras:</p>
  <%= render partial: 'extra_list', locals: {agreement: @agreement, mode: :edit} %>
<% end %>


<%= render partial: 'zones', locals: {agreement: @agreement, zones: @zones, link: add_remove_agreement_zones_path(@agreement, ":id")} %>
