<%= form_for(@rate, builder: ThemeBuilder, url: build_route) do |f| %>
  <% if @rate.errors.any? %>
    <hr/>
    <div class="has-error">
      <ul>
      <% @rate.errors.full_messages.each do |message| %>
        <li><i class="input-helper"><%= message %></i></li>
      <% end %>
      </ul>
    </div>
    <hr/>
  <% end %>


  <%= f.hidden_field :agreement_id %>
  <%= f.hidden_field :agreement_zone_id %>
  <%= f.text_field :code, label: 'Code'%>
  <%= f.date_select :from, label: 'From'%>
  <%= f.date_select :to, label: 'To'%>
  <%= f.text_field :commission_base, label: 'Commission base'%>


  <p class="c-black f-500 m-b-5 " >Grupos:</p>
  <%= render partial: 'rate_group_form', locals: {f: f} %>

  <p class="c-black f-500 m-b-5 " >Seguros:</p>
  <%= render partial: 'rate_insurance_form', locals: {f: f, owner: owner} %>

  <p class="c-black f-500 m-b-5 " >Impuestos:</p>
  <%= render partial: 'rate_tax_form', locals: {f: f} %>

  <p class="c-black f-500 m-b-5 " >Extras:</p>
  <%= render partial: 'rate_extra_form', locals: {f: f} %>

  <%= f.submit 'Enviar'%>
<% end %>
