
<%= render '/layouts/block_header' %>

<%= card ['Tarifas', 'Listado'], @toolbar do %>
  <script type="text/javascript">
   var commands = function(column, row) {
     var show_command = '<%= table_button 'Ver', build_route(:show, 'rowId'), 'eye' %>';
     var edit_command = '<%= table_button 'Editar', build_route(:edit, 'rowId'), 'edit' %>';
     var delete_command = '<%= table_button 'Eliminar', build_route(:delete, 'rowId'), 'delete', {'redirect_to' => 'rates'}, 'command-delete' %>';

     return (show_command + edit_command + delete_command).replace(new RegExp('rowId', 'g'), row.id);
     };
  </script>
  <table id="data-table-command" class="table table-striped table-vmiddle">
    <thead>
      <tr>
        <th data-column-id="id" data-type="numeric">Id</th>

        <th data-column-id="code" >
          Codigo
        </th>

        <th data-column-id="from" >
          Desde
        </th>

        <th data-column-id="to" >
          A
        </th>

        <th data-column-id="is_active" >
          Activo
        </th>

        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
      </tr>
    </thead>
    <tbody>
      <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.id %></td>

        <td><%= rate.code %></td>

        <td><%= rate.from %></td>

        <td><%= rate.to %></td>

        <td><%= rate.is_active %></td>

        <td>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
