<% toolbar = Theme::Toolbar.new %>
<% toolbar.add_button 'Editar', edit_agreement_zone_path(@agreement_zone.agreement, @agreement_zone.zone), 'edit' %>
<% toolbar.add_button 'Lista', agreement_path(@agreement_zone.agreement), 'view-list-alt' %>
<% toolbar.add_button 'Tarifas', agreement_zone_rates_path(@agreement.id, @agreement_zone.id), 'money-box' %>
<% toolbar.add_button 'Reservas', agreement_zone_bookings_path(@agreement.id, @agreement_zone.id), 'car' %>

<%= render '/layouts/block_header' %>

<%= card ['Acuerdo: Zona', 'Detalles de zona'], toolbar do %>
  <%= card_text_field_readonly @agreement_zone.agreement.company&.name, label: 'Empresa' %>
  <%= card_text_field_readonly @agreement_zone.zone&.name, label: 'Zona' %>

  <p class="c-black f-500 m-b-5 ">Grupos:</p>
  <%= render partial: 'group_list', locals: {agreement_zone: @agreement_zone, mode: :show} %>

  <p class="c-black f-500 m-b-5 ">Tramos:</p>
  <%= render partial: 'group_section_list', locals: {agreement_zone: @agreement_zone, mode: :show} %>

  <p class="c-black f-500 m-b-5 ">Impuestos:</p>
  <%= render partial: 'tax_list', locals: {agreement_zone: @agreement_zone, mode: :show} %>

  <p class="c-black f-500 m-b-5 ">Seguros:</p>
  <%= render partial: 'insurance_list', locals: {agreement_zone: @agreement_zone, mode: :show} %>

  <p class="c-black f-500 m-b-5 ">Extras:</p>
  <%= render partial: 'extra_list', locals: {agreement_zone: @agreement_zone, mode: :show} %>

<% end %>
